<!doctype html>
<html>
	<head>
		<title>Sign-in</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<style>
			body {
				background-color: #eee;
			}
		</style>
	</head>
	<body>

    <div class="container">
      <form class="form-signin" method="post" action="/captcha/captcha/">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputName" class="sr-only">Name</label>
        <input type="name" id="inputName" class="form-control" placeholder="Name" required autofocus name="inputName">

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="inputEmail">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="inputPassword">

        <label for="inputAddress" class="sr-only">Address</label>
        <input type="text" id="inputAddress" class="form-control" placeholder="1234 Main St" required name="address1">

        <label for="inputAddress2" class="sr-only">Address 2</label>
        <input type="text" id="inputAddress2" class="form-control" placeholder="Apartment, studio, or floor" required name="address2">

		<label for="inputDialect">Spoken Dialect</label>
		<select id="inputDialect" class="form-control" name="dialect">
			<option selected>Gulf arabic</option>
			<option>Bahrani</option>
			<option>Najdi</option>
			<option>Omani</option>
			<option>Yemeni and Somali</option>
			<option>Chadic</option>
			<option>Egyptian</option>
			<option>Iraqi</option>
			<option>Levantine</option>
			<option>Moroccan</option>
			<option>Tunisian</option>
			<option>Algerian</option>
		</select>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

	{{name}}
	{{email}}
	{{password}}
	{{address}}
	{{address2}}
	{{city}}
	{{dialect}}
	{{valid}}
	</body>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</html>
