<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title>Project Description</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="http://app.khadamati-ai.local:80">خدماتي</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="/home/">Home <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Help us Link People</a>
			  </li>
			</ul>
		  </div>
		</nav>

 <!-- Header -->
    <header class="masthead bg-dark text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" style="border-radius: 50%;"src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fis3-ssl.mzstatic.com%2Fimage%2Fthumb%2FPurple118%2Fv4%2F3b%2Fb5%2Fbd%2F3bb5bd94-3103-38df-aabb-ada98217ac09%2Fsource%2F256x256bb.jpg&f=1" alt="">
        <h1 class="text-uppercase mb-0">تــابـعـــونـا عــلى</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">القاموس التعاوني</h2>
        <h4 style="margin-top: 5px;"class="font-weight-light mb-0">Collaborative Dictionnary</h4>
      </div>
    </header>

	<div style="margin: 20px auto; font-size: 1.3em; text-align: center;">
		<p>Khadamati dictionnary is a collaborative platform where you can help
		us make better translations between different arabic dialects</p>
		<p>It's very easy to get started: select a dialect you speak, go through the list of words, and translate it in yours!</p>
	</div>

	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
